<article>
  <a class="image featured" {% if post.source %}href="{{ post.source }}"{% endif %}>
    {% if post.image %}
    <img src="{{ post.image.url | default: '' }}"
         alt="{{ post.image.alt | default: '' }}" />
    {% else %}
      <img class="no-image" alt="No image provided" />
    {% endif %}
  </a>

  <header>
    {% if post.source %}
    <a href="{{ post.source }}">
    {% endif %}
      <h3>
        {{ post.title }}
        <span class="timestamp">{{ post.displayDate }}</span>
      </h3>
    {% if post.source %}
    </a>
    {% endif %}
  </header>

  <p>
    {{ post.authors }}. {{ post.blurb }}
  </p>

  <p>
  {% for link in post.links %}
    <a href="{{ link.url }}">{{ link.text }}</a>
  {% endfor %}
  </p>
</article>
